option_settings:
  aws:elasticbeanstalk:application:environment:
    FLASK_ENV: production
    SECRET_KEY: 'replace-with-your-secret-key'
    DATABASE_URL: 'mysql+pymysql://username:password@your-db-host:3306/library_management'
    SECURITY_PASSWORD_SALT: 'replace-with-your-salt'
    AWS_REGION: 'us-east-1'
